nav {
  .feature-popup {
    .navbar-dropdown {
      width: 800px;
      left: -30%;
    }
  }

}

.app-dev-notifier {
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

svg {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}