<%- layout('layout') -%>

<div class="fh5co-loader"></div>
<header style="height: 370px;" id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div style="height: 370px;" class="display-t js-fullheight">

                    <div style="height: 370px;" class="display-tc js-fullheight animate-box fadeIn animated-fast"
                         data-animate-effect="fadeIn">
                        <h1>الإبداع هو العقل البري و منضبطة العين</h1>
                        <!--<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>-->
                        <p><a class="btn btn-primary btn-lg btn-demo" href="#"> View Demo</a> <a
                                    class="btn btn-primary btn-lg btn-learn">Learn More</a></p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</header>
<div id="fh5co-started">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Commander !</h2>
                Nous lançons les produits une fois que 500 pré-commandes seront signées. Nous promettons, aucune
                escroquerie :)
                </br>
                </br>
                <p><a href="#" class="btn btn-default btn-lg">Signer la pré-commande</a></p>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-features">
    <div class="container">
        <div class="services-padding">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-hotairballoon"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Marketing</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 animate-box">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-circle-compass"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Search Engine</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 animate-box">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Earn Money</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 animate-box">

                    <div class="feature-left">
							<span class="icon">
								<i class="icon-lightbulb"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Entrepreneur</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 animate-box">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Stragic Plan</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 animate-box">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Support</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-wireframe">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Wireframe Connects the Underlying Conceptual Structure</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 animate-box">
                <div class="user-frame">
                    <h3>بفضل هؤلاء الأشخاص الذين لا ي</h3>
                    <p>أعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من
                        لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو آخر أراد أن
                        يتجنب الألم الذي ربما تنجم عنه بعض المتعة ؟
                        علي الجانب الآخر . </p>
                    <span>Louie Jie Mahusay</span><br>
                    <small>CEO, Founder</small>
                </div>
            </div>
            <div class="col-md-7 animate-box">
                <p> -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي
                    الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم
                    إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من
                    المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم،
                    أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
                    ما هو "لوريم إيبسوم" ؟. </p>
                <blockquote>
                    <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة وتمجيد الألم نشأت بالفعل،
                        وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب
                        الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة
                        أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب
                        ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله
                        من كد وأسي.
                        . </p>
                </blockquote>
                <p>
                    علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا يدركون
                    ما يعقبها من الألم والأسي المحتم، واللوم كذلك يشمل هؤلاء الذين أخفقوا في واجباتهم نتيجة لضعف
                    إرادتهم فيتساوي مع هؤلاء الذين يتجنبون وينأون عن تحمل الكدح والألم .
                    . </p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="heading">
                    <h2>Download Our Latest Free HTML5 Bootstrap Template</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                </div>
            </div>
            <div class="col-md-6 col-md-push-1 animate-box">
                <aside id="fh5co-hero">
                    <div class="flexslider">
                        <ul class="slides">
                            <li style="background-image: url(img/img_bg_1.jpg);">
                                <div class="overlay-gradient"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
                                            <div class="slider-text-inner">
                                                <div class="desc">
                                                    <h2>Air Free HTML5 Bootstrap Template</h2>
                                                    <p>Ink is a free html5 bootstrap and a multi-purpose template
                                                        perfect for any type of websites. A combination of a minimal
                                                        and modern design template. The features are big slider on
                                                        homepage, smooth animation, product listing and many
                                                        more</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="background-image: url(img/img_bg_2.jpg);">
                                <div class="overlay-gradient"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
                                            <div class="slider-text-inner">
                                                <div class="desc">
                                                    <h2>Ink Free HTML5 Bootstrap Template</h2>
                                                    <p>Ink is a free html5 bootstrap and a multi-purpose template
                                                        perfect for any type of websites. A combination of a minimal
                                                        and modern design template. The features are big slider on
                                                        homepage, smooth animation, product listing and many
                                                        more</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="background-image: url(img/img_bg_3.jpg);">
                                <div class="overlay-gradient"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
                                            <div class="slider-text-inner">
                                                <div class="desc">
                                                    <h2>Travel Free HTML5 Bootstrap Template</h2>
                                                    <p>Ink is a free html5 bootstrap and a multi-purpose template
                                                        perfect for any type of websites. A combination of a minimal
                                                        and modern design template. The features are big slider on
                                                        homepage, smooth animation, product listing and many
                                                        more</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<!--<div id="fh5co-blog">-->
<!--<div class="container">-->
<!--<div class="row animate-box">-->
<!--<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--<h2>Recent Post</h2>-->
<!--<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="fh5co-blog animate-box">-->
<!--<a href="#" class="blog-bg" style="background-image: url(img/blog-1.jpg);"></a>-->
<!--<div class="blog-text">-->
<!--<span class="posted_on">Feb. 15th 2016</span>-->
<!--<h3><a href="#">Photoshoot On The Street</a></h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--<ul class="stuff">-->
<!--<li><i class="icon-heart2"></i>249</li>-->
<!--<li><i class="icon-eye2"></i>1,308</li>-->
<!--<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>-->
<!--</ul>-->
<!--</div> -->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="fh5co-blog animate-box">-->
<!--<a href="#" class="blog-bg" style="background-image: url(img/blog-2.jpg);"></a>-->
<!--<div class="blog-text">-->
<!--<span class="posted_on">Feb. 15th 2016</span>-->
<!--<h3><a href="#">Surfing at Philippines</a></h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--<ul class="stuff">-->
<!--<li><i class="icon-heart2"></i>249</li>-->
<!--<li><i class="icon-eye2"></i>1,308</li>-->
<!--<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>-->
<!--</ul>-->
<!--</div> -->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="fh5co-blog animate-box">-->
<!--<a href="#" class="blog-bg" style="background-image: url(img/blog-3.jpg);"></a>-->
<!--<div class="blog-text">-->
<!--<span class="posted_on">Feb. 15th 2016</span>-->
<!--<h3><a href="#">Focus On Uderwater</a></h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--<ul class="stuff">-->
<!--<li><i class="icon-heart2"></i>249</li>-->
<!--<li><i class="icon-eye2"></i>1,308</li>-->
<!--<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>-->
<!--</ul>-->
<!--</div> -->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div id="fh5co-started">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Commander !</h2>
                Nous lançons les produits une fois que 500 pré-commandes seront signées. Nous promettons, aucune
                escroquerie :)
                </br>
                </br>
                <p><a href="#" class="btn btn-default btn-lg">Signer la pré-commande</a></p>
            </div>
        </div>
    </div>
</div>


</div>
