.app-viewer-container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-viewer-sidenav {
  -webkit-flex: 1;
  flex: 1;
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
  position: relative;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  max-height: 360px;
  .ps__scrollbar-x,
  .ps__scrollbar-y {
    opacity: 0.6;
  }
}

.app-viewer-content {
  padding: 10px;
  flex: 6;
}

.app-viewer-thumbnail {
  border: solid 1px #c0c0c0;
  width: 70px;
  height: 90px;
  margin: 4px auto;
  border-radius: 2px;
  cursor: pointer;
}

.app-viewer-page {
  background: red;
  margin: auto;
  position: relative;

  &.fullscreen {
    width: 100% !important;
    height: 100% !important;
  }
  .element {
    position: absolute;
    &.cover {
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    &.sound {
      bottom: 10px;
      right: 10px;
      cursor: pointer;
      color: white;
    }
  }
}

#preview_menu {
  margin-bottom: 20px;
}
