<% layout('layout') -%>

<div class="fh5co-loader"></div>

<div id="page">
    <div id="fh5co-portfolio">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2><%= __('Stories') %></h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="#">
                            <div class="portfolio-entry" style="background-image: url('/assets/f5d549e32682eec349a08739410269bb.jpg');"></div>
                            <div class="portfolio-text">
                                <h3>Photoshoot On The Street</h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i>200</li>
                                    <li><i class="icon-eye2"></i>248</li>
                                    <li><i class="icon-download3"></i>240</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="#">
                            <div class="portfolio-entry" style="background-image: url(/assets/42840967_001_b4.jpg);"></div>
                            <div class="portfolio-text">
                                <h3>Photoshoot On The Street</h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i>200</li>
                                    <li><i class="icon-eye2"></i>248</li>
                                    <li><i class="icon-download3"></i>240</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="#">
                            <div class="portfolio-entry" style="background-image: url(/assets/0d010fa76a5997408b8b9923cb46021a.jpg);"></div>
                            <div class="portfolio-text">
                                <h3>Photoshoot On The Street</h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i>200</li>
                                    <li><i class="icon-eye2"></i>248</li>
                                    <li><i class="icon-download3"></i>240</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="#">
                            <div class="portfolio-entry" style="background-image: url(/assets/8f65d5aa9ef37e9508ae3cf885d92551.jpg);"></div>
                            <div class="portfolio-text">
                                <h3>Photoshoot On The Street</h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i>200</li>
                                    <li><i class="icon-eye2"></i>248</li>
                                    <li><i class="icon-download3"></i>240</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="#">
                            <div class="portfolio-entry" style="background-image: url(/assets/154989841565.jpg);"></div>
                            <div class="portfolio-text">
                                <h3>Photoshoot On The Street</h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i>200</li>
                                    <li><i class="icon-eye2"></i>248</li>
                                    <li><i class="icon-download3"></i>240</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="#">
                            <div class="portfolio-entry" style="background-image: url(img/portfolio-6.jpg);"></div>
                            <div class="portfolio-text">
                                <h3>Photoshoot On The Street</h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i>200</li>
                                    <li><i class="icon-eye2"></i>248</li>
                                    <li><i class="icon-download3"></i>240</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>
