<%- layout('layout') %>
<% block('stylesheets', "<link rel='stylesheet' href='/css/bulma.css'>"); %>
<% block('stylesheets', "<link rel='stylesheet' href='/css/style.css'>"); %>
<div>
    <div class="columns">
        <div class="column">
            <%- include welcome/blob-shape.svg %>
        </div>
        <div class="column has-text-centered">
            <h1 class="title">Boom</h1>
        </div>
    </div>
</div>
<div style="text-align: right">
    <%- include welcome/blob-shape (1).svg %>
    <%- include welcome/trendings %>
</div>

<% if (env.isProd) { %>
<% block('scripts', "<script src='/js/dist/index.bundle.min.js'></script>"); %>
<% } else { %>
<% block('scripts', "<script src='/js/dist/index.bundle.js'></script>"); %>
<% } %>
