<%- layout('layout') %>

<% block ('stylesheets', "<link rel='stylesheet' href='https://unpkg.com/bulma@0.7.4/css/bulma.css'>");%>
<% block ('stylesheets', "<link rel='stylesheet' href='/css/style.css'>");%>
<div>
    <%- include welcome/blob-shape.svg %>
</div>
<div style="text-align: right">
    <%- include welcome/blob-shape (1).svg %>
    <%- include welcome/trendings %>
</div>

<% if (env.isProd) { %>
<% block('scripts', "<script src='/js/dist/index.bundle.min.js'></script>"); %>
<% } else { %>
<% block('scripts', "<script src='/js/dist/index.bundle.js'></script>"); %>
<% } %>
