<div id="previewContainer__floatingMenu">
    <div id="previewContainer__menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>

        <a href="#" class="menu-item"> <i class="icon-printer"></i> </a>
        <a href="#" class="menu-item"> <i class="icon-basket"></i> </a>
        <a href="#" class="menu-item"> <i class="icon-share"></i> </a>
        <a href="#" class="menu-item"> <i class="icon-edit2"></i> </a>

    </div>
</div>