<ul class="list-inline" id="toolbar__addons" style="display: none">
    <li>
        <button data-toolbar-for="picture"><i class="icon-image"></i></button>
        <div class="toolbar__popover" data-toolbar="picture">
            Music

        </div>
    </li>
    <li>
        <button data-toolbar-for="icons"><i class="icon-angry"></i></button>
        <div class="toolbar__popover" data-toolbar="icons">

            Music

        </div>
    </li>
    <li>
        <button data-toolbar-for="music"><i class="icon-music2"></i></button>
        <div class="toolbar__popover" id="toolbar_music" data-toolbar="music">
            <div>
                <a href="" id="refine-hue-minus" class="left"><i
                            class="nc-icon-mini arrows-1_bold-left"></i></a>
                <span>Hue</span>
                <a href="" id="refine-hue-plus" class="right"><i
                            class="nc-icon-mini arrows-1_bold-right"></i></a>
            </div>
            <div>
                <a href="" id="refine-saturation-minus" class="left"><i
                            class="nc-icon-mini ui-1_bold-delete"></i></a>
                <span>Saturation</span>
                <a href="" id="refine-saturation-plus" class="right"><i class="nc-icon-mini ui-1_bold-add"></i></a>
            </div>
            <div>
                <a href="" id="refine-brightness-minus" class="left"><i
                            class="nc-icon-mini ui-1_bold-delete"></i></a>
                <span>Brightness</span>
                <a href="" id="refine-brightness-plus" class="right"><i class="nc-icon-mini ui-1_bold-add"></i></a>
            </div>
            <div>
                <a href="" id="refine-temperature-minus" class="left"><i
                            class="nc-icon-mini ui-1_bold-delete"></i></a>
                <span>Temperature</span>
                <a href="" id="refine-temperature-plus" class="right"><i class="nc-icon-mini ui-1_bold-add"></i></a>
            </div>

        </div>
    </li>
    <li>
        <button data-toolbar-for="galaxy"><i class="icon-earth"></i></button>
        <div class="toolbar__popover" data-toolbar="galaxy">
            Music

        </div>
    </li>
    <li>
        <button data-toolbar-for="geo"><i class="icon-map3"></i></button>
        <div class="toolbar__popover" data-toolbar="geo">
            Music

        </div>
    </li>
</ul>