<% layout('./../../layout') %>
<div class="viewer container">
    <% include ./../../builder/stories/_toolbar %>
    <div class="row col-lg-12" id="editor_container">
        <!--TODO <% include ./../../builder/stories/_sidebar %>-->
        <% include ./../../builder/stories/_pages_container %>
    </div>
</div>
<div id="overlay"></div>
<% if (env.isProd) { %>
<% block('scripts', "<script src='/js/dist/builder.bundle.min.js'></script>"); %>
<% } else { %>
<% block('scripts', "<script src='/js/dist/builder.bundle.js'></script>"); %>
<% } %>

