<%- layout('./../../layout') %>
<div class="fh5co-loader"></div>
<div id="page">
    <div id="fh5co-portfolio">
        <div class="container">
            <% if(error) { %>
            <div class="alert-danger">
                <%= error %>
            </div>
            <br>
            <% } %>
            <form action="/builder/stories/new" method="post">
                <div class="col-md-8 col-md-offset-2  animate-box fadeInUp animated-fast">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="Title">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="category_id">
                                    <% for(var i = 0; i < categories.length; i++) { %>
                                    <option
                                            value="<%= categories[i].id %>"><%= categories[i].name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>
