<div class="bb-custom-wrapper">
    <div id="book_viewer" class="bb-bookblock bb-vertical">
        <!--<div class="bb-item" style="display: block;">-->
        <!--<img src="/img/lostmyname-07.jpg" alt="image01">-->
        <!--</div>-->
        <!--<div class="bb-item" style="display: none;">-->
        <!--<img src="/img/lostmyname-08.jpg" alt="image02">-->
        <!--</div>-->
        <!--<div class="bb-item" style="display: none;">-->
        <!--<a href="http://drbl.in/cLHx"><img src="/img/lostmyname-09.jpg" alt="image03"></a>-->
        <!--</div>-->
        <!--<div class="bb-item" style="display: none;">-->
        <!--<a href="http://drbl.in/bAfn"><img src="/img/lostmyname-10.jpg" alt="image04"></a>-->
        <!--</div>-->
        <!--<div class="bb-item" style="display: none;">-->
        <!--<a href="http://drbl.in/dcbE"><img src="/img/lostmyname-12.jpg" alt="image05"></a>-->
        <!--</div>-->
    </div>
    <nav>
        <a class="fullscreen"> <i class="icon-star-full"></i></a>
        <a class="nav" data-nav="first" href="#"><i class="icon-arrow-left22"></i></a>
        <a class="nav" data-nav="prev" href="#"><i class="icon-arrow-left"></i></a>
        <a class="nav" data-nav="next" href="#"><i class="icon-arrow-right"></i></a>
        <a class="nav" data-nav="last" href="#"><i class="icon-arrow-right22"></i></a>
    </nav>
</div>