<% layout('./../layout') %>
<div class="main clearfix">
    <div id="preview_menu" class="row text-center">
        <button class="btn btn-success"><%= __('Print') %></button>
        <a class="btn btn-danger"
           href="/orders/init/<%= item.id %>"><%= __('Customize and Print') %> </a>
        <span><%= item.price_tn %></span>
    </div>
</div>
<% include viewer/_view %>


