.owl-next, .owl-prev {
  display: none !important;
  position: absolute;
  height: 80px;
}
.owl-theme {
  .item{
    text-align: center;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    height: 80px;
    margin: 10px 5px 5px 5px;
    padding-top: 10%;
  }
  .owl-nav {
    position: relative;
    top: -100px;

    .owl-prev {
      left : -19px;
    }
    .owl-next {
      right: -19px;
    }
  }
  &:hover{
    .owl-nav {
      .owl-next, .owl-prev {
        display: inline-block  !important;
      }
    }
  }
}