
<div id="fh5co-started">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Commander !</h2>
                Nous lançons les produits une fois que 500 pré-commandes seront signées. Nous promettons, aucune
                escroquerie :)
                </br>
                </br>
                <p><a href="#" class="btn btn-default btn-lg">Signer la pré-commande</a></p>
            </div>
        </div>
    </div>
</div>
