<div class="col-lg-12 row" id="pages_container">
    <div id="previewContainer">

    </div>
    <div id="preview__thumbnailsContainer">
        <div id="preview__thumbnailsInnerContainer">

        </div>
    </div>
</div>