<ul class="list-inline" id="toolbar__text" >
    <li>
        <button data-action="text-align:left"><i class="icon-paragraph-left"></i></button>
        <button data-action="text-align:center"><i class="icon-paragraph-center"></i></button>
        <button data-action="text-align:right"><i class="icon-paragraph-right"></i></button>
        <button data-action="font-weight:bold"><i class="icon-bold"></i></button>
        <button data-action="font-style:italic"><i class="icon-italic"></i></button>
        <button data-action="font-size:plus"><i class="icon-plus"></i></button>
        <button data-action="font-size:plus"><i class="icon-minus"></i></button>

    </li>
    <li>
        <button data-toolbar-for="icons"><i class="icon-angry"></i></button>
        <div class="toolbar__popover" data-toolbar="icons">
            Music
        </div>
    </li>

</ul>