<div class="row text-center">
    <form method="post" action="/locale">
        <input type="submit" class="btn btn-default" value="en" name="locale"/>
        <input type="submit" class="btn btn-default" value="fr" name="locale"/>
        <input type="submit" class="btn btn-default" value="ar" name="locale"/>
    </form>
</div>