<div class="container parallax__container">
    <div class="parallax">
        <% if (locale == 'ar') { %>
        <% include images/ar %>
        <% } else if (locale == 'fr') { %>
        <% include images/fr %>
        <% } else { %>
        <% include images/en %>
        <% } %>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t js-fullheight" style="display: inline;">
                <div style="height: 370px;" class="display-tc js-fullheight animate-box fadeIn animated-fast"
                     data-animate-effect="fadeIn">
                    <div class=" hello__box">
                        <h1><%= __("Welcome") %></h1>
                        <% if (locale == 'ar') { %>
                        <% include quotes/ar %>
                        <% } else if (locale == 'fr') { %>
                        <% include quotes/fr %>
                        <% } else { %>
                        <% include quotes/en %>
                        <% } %>
                        <p><a class="btn btn-primary btn-lg btn-demo" href="#"> <%= __("View Demo") %></a> <a
                                    class="btn btn-primary btn-lg btn-learn"> <%= __("Learn more") %></a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
