<% layout('../layout') -%>

<div class="container">
    <div class="row">
        <a href="/accounts/reset-password/<%= resetLink %>">Please follow  this link to reset your password </a>
    </div>
</div>